
<div class="page-container">
  <div class="vehicle-container">
    <div *ngIf="vehiculo">
      <img id="imagen-vehiculo" *ngIf="vehiculo.imagenes && vehiculo.imagenes.length > 0"
        [src]="'http://localhost:3000/uploads/' + vehiculo.imagenes[0]" alt="Imagen del vehículo" />
      <p *ngIf="!vehiculo.imagenes?.length">No hay imágenes disponibles para este vehículo.</p>
    </div>
    <div class="vehicle-details">
      <p><strong>Modelo:</strong> {{vehiculo?.modelo}}</p>
      <p><strong>Color:</strong> Blanco</p>
      <p><strong>Categoria:</strong> {{vehiculo?.nombreCategoria}} </p>
      <p><strong>Marca:</strong> {{vehiculo?.nombreMarca}}</p>
      <p><strong>Descripción:</strong> {{vehiculo?.descripcion}}</p>
      <p><strong>Transmisión:</strong> {{vehiculo?.transmision}}</p>
      <p><strong>Precio Venta:</strong> {{ vehiculo?.precioVenta | currency:'ARS' }}</p>
      <p><strong>Precio Alquiler:</strong> {{ vehiculo?.precioAlquilerDiario| currency:'ARS' }}</p>
    </div>
  </div>
</div>

<div class="whatsapp-container">
  <a href="https://wa.me/5493413264072" target="_blank" id="whatsapp"> <img
      src="http://localhost:3000/uploads/BOTON-WHATSAPP-01.png"> </a>
</div>



