
.register-container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f8; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajuste para centrar verticalmente en la pantalla */
    margin-top: 40px;
    margin-bottom: 40px;	
    margin-left: 10px;
    margin-right: 10px
  }
  
  
  /* Caja del formulario de registro */
  .register-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.557);
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  /* Título del formulario de registro */
  .register-box h2 {
    margin: 0 0 20px 0;
    color: #007bff; /* Azul */
    font-size: 24px;
    text-align: center;
  }
  
  /* Estilos de los campos de entrada */
  .input {
    margin-bottom: 15px;
  }
  
  .input label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input input:focus {
    border-color: #007bff; /* Azul al enfocar */
    outline: none;
  }
  
  /* Mensajes de error */
  small {
    color: #d9534f; /* Rojo para errores */
    font-size: 0.875em;
  }
  
  /* Botón de envío */
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Azul */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Azul más oscuro */
  }
  
  /* Estilos para enlaces de registro y contraseña olvidada */
  .password-register {
    margin-top: 10px;
    text-align: center;
  }
  
  .password-register a {
    color: #007bff; /* Azul */
    text-decoration: none;
  }
  
  .password-register a:hover {
    text-decoration: underline;
  }