/* Contenedor principal para centrar todo en la página */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f4f4f4;

}

.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
max-width: 1200px;
width: 100%;
align-items: flex-start;
}

#imagen-vehiculo {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  align-items: center;
}

#imagen-propietario {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.vehicle-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.vehicle-details p {
  margin: 5px 0;
}

.img {
  max-width: 100%;
  align-items: center;
}

.propietario-container {
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 20px;
  height: 40%;
}

.anuncio {
  font-family: Arial, sans-serif;
  color: #a52a2a;
  padding: 20px;
  max-width: 300px;
}

.modalChanged {
  display: none;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentChanged {
  position: absolute;
  z-index: 1050;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 90%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.btn-success {
  background-color: #004080;
  border-color: #004080;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.btn-secondary {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .vehicle-container {
    flex-direction: column;
    align-items: center;
  }

  #imagen-vehiculo {
    max-width: 400px;
    aspect-ratio: 16/9;
  }
  @media (max-width: 480px) {
    .page-container {
      padding: 10px;
    }
    #imagen-vehiculo {
      max-width: 300px; /* Tamaño más pequeño para móviles */
      aspect-ratio: 16/9; /* Cambia relación de aspecto si es necesario */
    }
    
    .vehicle-container {
      padding: 15px;
    }
    
    .vehicle-details {
      font-size: 0.9rem;
    }
    
    .btn {
      width: 100%; /* Botones full width en móvil */
      margin-bottom: 10px;
    }
  }
  .modal-contentChanged {
    max-width: 95%; /* Más espacio en móviles */
    padding: 20px;
  }
  
  @media (max-width: 480px) {
    .modal-contentChanged button {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .modal-contentChanged {
      text-align: center;
    }
  }


    
  
  
}