
<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>LISTA DE ROLES</h2>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRol">Añadir
        Rol</button>
    </div>

    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>NOMBRE</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody *ngIf="roles.length > 0">
        <tr *ngFor="let Rol of roles">
          <td>{{ Rol.nombreRol }}</td>
          <td>
            <button (click)="openModal('editRol', Rol)" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#editRolModal">Editar</button>
            <button (click)="openModal('removeRol', Rol)" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#removeRolModal">Eliminar</button>
          </td>
        </tr>
      </tbody>
      <p *ngIf="roles.length === 0" class="text-center text-muted">No hay roles</p>
    </table>
  
    <div class="modal fade" id="addRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nuevo Rol</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="rolForm" (ngSubmit)="addRol()">
              <div class="row">
                <div class="col-md-6">
                  <label for="nombreRol">Nombre</label>
                  <input type="text" formControlName="nombreRol" id="nombreRol" class="form-control" required>
                </div>
              </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="rolForm.invalid">Guardar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="removeRolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Rol</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <p><strong>¿Estás seguro de que deseas eliminar el siguiente rol?</strong></p>
          <p><strong>Nombre:</strong> {{ selectedRol?.nombreRol }}</p>
          <button class="btn btn-secondary" (click)="closeModal('removeRol')" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" (click)="removeRol(selectedRol, 'removeRol')" data-bs-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

      <div class="modal fade" id="editRolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Rol</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
          <form [formGroup]="rolForm" (ngSubmit)="editRol()">
            <div class="form-group">
              <label for="name">Nombre Rol</label>
              <input type="text" formControlName="nombreRol" id="nombreRol" name="nombreRol" class="form-control" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal('editRol')" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" [disabled]="rolForm.invalid" data-bs-dismiss="modal">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
