.form-group {
    display: flex; /* Usa flexbox para alinear los elementos */
    align-items: center; /* Alinea verticalmente en el centro */
    margin-bottom: 15px;
  }
  
  label {
    color: #0a0a0a;
    /* Azul oscuro */
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
    display: block;
    white-space: nowrap;
  }
  
  input {
    border: 1px solid #004080;
    /* Azul oscuro */
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #007bff;
    /* Azul más brillante para el foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  button.btn-primary {
    background-color: #004080;
    /* Azul oscuro */
    border-color: #004080;
    color: white;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-primary:hover {
    background-color: #007bff;
    /* Azul más brillante al pasar el cursor */
    border-color: #007bff;
  }
  button.btn-secondary {
    background-color: #6c757d;
    /* Gris */
    border-color: #6c757d;
    color: white;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-secondary:hover {
    background-color: #5a6268;
    /* Gris más oscuro al pasar el cursor */
  }

  button.btn-danger {
    background-color: #d9534f;
    /* Rojo */
    border-color: #d43f3a;
    color: white;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-danger:hover {
    background-color: #c9302c;
    /* Rojo más oscuro al pasar el cursor */
  }

  form {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalChanged {
    display: none; 
    position: fixed; 
    z-index: 1050; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-contentChanged {
    position: absolute;
    z-index: 1050;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 1000px; 
    width: 90%; 
  }
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
  }
  .form-row {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén uno debajo del otro */
    gap: 15px; /* Espaciado entre los campos */
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column; /* Mantiene la etiqueta sobre el input */
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
}
