<div class="container">
    <div class="row">
      <div *ngFor="let vehiculo of vehicles" class="col-md-3 mb-4">
        <div class="card">
            <img id="imagen-vehiculo"
            [src]="'http://localhost:3000/uploads/' + vehiculo.imagenes[0]" 
            alt="Imagen del vehículo" 
            *ngIf="vehiculo.imagenes.length > 0" 
          />
          <div class="card-body">
            <h5 class="card-title">{{ vehiculo.nombre }}</h5>
            <p class="card-text">{{ vehiculo.descripcion }}</p>
            <p class="card-text"><strong>Precio Venta:</strong> {{ vehiculo.precioVenta | currency:'ARS' }}</p>
            <p class="card-text"><strong>Precio Alquiler:</strong> {{ vehiculo.precioAlquilerDiario | currency:'ARS' }}</p>
            <a [routerLink]="['/product/compra', vehiculo.id]" class="btn btn-primary">Comprar</a> 
            <a [routerLink]="['/product/rent', vehiculo.id]" class="btn btn-secondary">Alquilar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

