<div class="container my-4">
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>LISTADO DE MARCAS</h2>
  <app-searcher [data]="brands" [filterAttributes]="['nombreMarca']" (filteredData)="onSearch($event)"  style="display: block; width: 70%;"></app-searcher>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBrand">Añadir Marca</button>
</div>
<table class="table table-hover">
  <thead class="table-dark">
      <tr>
          <th>NOMBRE</th>
          <th>ACCIONES</th>
        </tr>
     </thead>
     <tbody *ngIf="brands.length > 0">
       <tr *ngFor="let brand of filteredBrands">
          <td>{{ brand.nombreMarca }}</td>
          <td>
              <button  (click)="openModal('editBrand', brand)"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editMarcaModal">Editar</button>
              <button  (click)="openModal('removeBrand', brand)"class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeMarcaModal" >Eliminar</button>
          </td>
      </tr>
  </tbody>
  <p *ngIf="filteredBrands.length === 0">No hay marcas que coincidan con ese nombre</p>
</table>


  <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Marca</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="brandForm" (ngSubmit)="addBrand()">
              <div class="form-group">
              <label for="name">Nombre Marca</label>
              <input type="text" formControlName="nombreMarca" id="name" name="name" class="form-control" required>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
              </div>
          </form>
      </div>        
     </div>
    </div>
  </div>

  <div class="modal fade" id="removeMarcaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Marca</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p><strong>¿Estás seguro de que deseas eliminar esta marca?</strong></p>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteBrand(selectedBrand,'removeBrand' )" data-bs-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="editMarcaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Marca</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandForm" (ngSubmit)="editBrand();">
          <div class="form-group">
            <label for="editName">Nombre Marca</label>
            <input type="text" formControlName="nombreMarca" id="editName" name="editName" class="form-control" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"(click)="closeModal('editBrand')" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary"(click)="editBrand()" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>