<form [formGroup]="filterForm" (ngSubmit)="applyFilter()" class="filtro-container">
    <!-- Kilómetros -->
    <div class="form-group">
      <label for="kilometersDesde">Km Desde:</label>
      <input 
        type="number" 
        id="kilometersDesde" 
        formControlName="kilometersDesde" 
        placeholder="Ej: 50000">
    </div>

    <div class="form-group">
        <label for="kilometersHasta">Km Hasta:</label>
        <input 
          type="number" 
          id="kilometersHasta" 
          formControlName="kilometersHasta" 
          placeholder="Ej: 50000">
      </div>
  
    <!-- Marca -->
    <div class="form-group">
      <label for="brand">Marca:</label>
      <select id="brand" formControlName="brand">
        <option value="">Marca</option>
        <option *ngFor="let brand of brands" [value]="brand.nombreMarca">
          {{ brand.nombreMarca }}
        </option>
      </select>
    </div>
  
    <!-- Categoría -->
    <div class="form-group">
      <label for="category">Categoría:</label>
      <select id="category" formControlName="category">
        <option value="">Categoría</option>
        <option *ngFor="let category of categories" [value]="category.nombreCategoria">
          {{ category.nombreCategoria }}
        </option>
      </select>
    </div>
  
    <!-- Precio -->
    <div class="form-group">
      <label for="price">Precio Desde:</label>
      <input 
        type="number" 
        id="priceDesde" 
        formControlName="priceDesde" 
        placeholder="Ej: 20000">
    </div>

    <div class="form-group">
        <label for="price">Precio Hasta:</label>
        <input 
          type="number" 
          id="priceHasta" 
          formControlName="priceHasta" 
          placeholder="Ej: 20000">
      </div>
  
    <!-- Alquiler -->
    <div class="form-group">
      <label for="isRentable">Solo Alquilar?</label>
      <input 
        type="checkbox" 
        id="isRentable" 
        formControlName="isRentable">
    </div>

    <div class="form-group">
        <label for="isBuyable">Solo Comprar?</label>
        <input 
          type="checkbox" 
          id="isBuyable" 
          formControlName="isBuyable">
      </div>
  
    <!-- Botón -->
    <div class="form-group">
      <button type="submit">Filtrar</button>
    </div>
  </form>
  