<table >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf="vehicles.length > 0">
        <tr *ngFor="let Vehicle of vehicles">
            <td>{{ Vehicle.nombre }}</td>
            <td>
                <button  (click)="openModal('editVehicle', Vehicle)"class="btn btn-primary">Editar</button>
                <button  (click)="openModal('removeVehicle', Vehicle)"class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
    <p *ngIf="vehicles.length === 0">No hay vehiculos</p>
  </table>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addVehicle">Añadir Vehiculo</button>
  
  <div class="modal fade" id="addVehicle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Vehiculo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()" class = "formulario">
                <div class="form-group" >
                  <label for="name">Nombre Vehiculo</label>
                  <input type="text" formControlName="nombre" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="name">Descripción Vehiculo</label>
                  <input type="text" formControlName="descripcion" id="description" name="description" class="form-control" required>
                </div>
                  
                
                <div class="form-group" >
                  <label for="venta">Precio Venta</label>
                  <input type="number" formControlName="precioVenta" id="venta" name="venta" class="form-control" required>
                </div>
                <div class="form-group" >
                  <label for="preciodiario">Precio Alquiler Diario</label>
                  <input type="number" formControlName="precioAlquilerDiario" id="preciodiario" name="preciodiario" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="stock">Stock</label>
                  <input type="number" formControlName="stock" id="stock" name="stock" class="form-control">
                </div>
                <div class="form-group">
                  <label for="modelo">Modelo</label>
                  <input type="text" formControlName="modelo" id="modelo" name="modelo" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="marca">Marca del Vehículo</label>
                  <select id="marca" formControlName="marca" class="form-control">
                    <option value="" disabled selected>Seleccione una marca</option>
                    <option *ngFor="let brand of brands" [ngValue]="brand.id">{{ brand.nombreMarca}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoria del Vehículo</label>
                  <select id="categoria" formControlName="categoria" class="form-control">
                    <option value="" selected>Seleccione una categoria</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.nombreCategoria }}</option>
                  </select>
                </div>
                <div class="form-group" >
                  <label for="file">Imágenes del Vehículo</label>
                  <input type="file" id="file" (change)="onFilesSelected($event)" class="form-control" accept="image/*" multiple>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="vehicleForm.invalid">Guardar</button>
                </div>
            </form>
        </div>        
    </div>
    </div>
  </div>
  
  <div id="removeVehicle" class="modalChanged">
    <div class="modal-contentChanged">
      <span class="close" (click)="closeModal('removeVehicle')">&times;</span>
      <h2>Eliminar Vehiculo</h2>
      <p>¿Estás seguro de que deseas eliminar el siguiente vehiculo?</p>
      <p><strong>Nombre:</strong> {{ selectedVehicle?.nombre }}</p>
      <button class="btn btn-secondary" (click)="closeModal('removeVehicle')">Cancelar</button>
      <button class="btn btn-danger" (click)="removeVehicle(selectedVehicle, 'removeVehicle')">Eliminar</button>
    </div>
  </div>
  
  <div id="editVehicle" class="modalChanged">
      <div class="modal-contentChanged">
        <span class="close" (click)="closeModal('editVehicle')">&times;</span>
        <h2>Editar Vehiculo</h2>
        <form [formGroup]="vehicleForm" (ngSubmit)="editVehicle()">
          <div class="form-group">
            <label for="name">Nombre Vehiculo</label>
            <input type="text" formControlName="nombre" id="name" name="name" class="form-control" required>
          </div>  
          <div class="form-group">
            <label for="name">Descripcion Vehiculo</label>
            <input type="text" formControlName="descripcion" id="description" name="description" class="form-control" value = "Lindo" required>
          </div>
          <div class="form-group">
            <label for="venta">Precio Venta</label>
            <input type="number" formControlName="precioVenta" id="venta" name="venta" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="preciodiario">Precio Alquiler Diario</label>
            <input type="number" formControlName="precioAlquilerDiario" id="preciodiario" name="preciodiario" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" formControlName="stock" id="stock" name="stock" class="form-control">
          </div>
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" formControlName="modelo" id="modelo" name="modelo" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="marca">Marca del Vehículo</label>
            <select id="marca" formControlName="marca" class="form-control">
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.nombreMarca}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="categoria">Categoria del Vehículo</label>
            <select id="categoria" formControlName="categoria" class="form-control">
              <option *ngFor="let category of categories" [value]="category.id">{{ category.nombreCategoria }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal('editVehicle')">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="vehicleForm.invalid">Guardar cambios</button>
          </div>

        </form>
      </div>
    </div>
